
// [Cardano](https://cardano.org/brand-assets/)
$cc-cardano-1: #0033ad;

$cc-kusama-1: #e6007a;
$cc-kusama-2: #00ffe1;

$cc-kusama-primary: $cc-kusama-1;
$cc-kusama-accent: $cc-kusama-1;
$cc-kusama-cyan: $cc-kusama-2;
$cc-kusama-hover: $cc-kusama-2;

// [Polkadot](https://polkadot.network/brand-assets/)
$cc-polkadot-1: #E6007A;

// [Solana](https://solana.com/branding)
$cc-solana-1: #9945FF;
$cc-solana-2: #14F195;

$cc-solana-purple: $cc-solana-1;
$cc-solana-green: $cc-solana-2;
